.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 70px;
  margin-bottom: 70px;
  gap: 64px;
  // border: 1px solid green;

  &__text {
    width: 576px;
    > h1 {
      font-size: 50px;
      line-height: 60px;
      color: #101828;
      font-weight: 700;
    }
    > p {
      color: #667085;
      width: 500px;
      margin-top: 20px;
      font-size: 20px;
      line-height: 30px;
    }
  }

  &__button_cta{
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 12px;
  }

  .header_image_container{
    width: 576px;
    height: 374px;
    object-fit: contain;
  }
}

@media screen and (max-width: 767px) {
  .header {
    display: flex;
  flex-direction: column!important;
    margin-top: 50px;
    margin-bottom: 50px;
    gap: 64px;
    &__text {
      width: 343px;
      > h1 {
        font-size: 36px;
        line-height: 44px;
        color: #101828;
        font-weight: 700;
        text-align: center;
      }
      > p {
        color: #667085;
        width: 100%;
        margin-top: 20px;
        font-size: 18px;
        line-height: 28px;
        text-align: center;
      }
    }
    
    &__button_cta {
      margin-top: 25px;
      display: flex;
      flex-direction: column;
      gap: 12px;
      >button{
        width: 100%;
      }
    }
  }
}