.navbar {
  display: flex;
  justify-content: space-between;
  height: 80px;
  align-items: center;
  border-bottom: 1px solid #EAECF0;
  padding-left: 60px;
  padding-right: 60px;
  
  &__navlinks {
    display: flex;
    align-items: center;
    gap: 40px;
    .links {
      display: flex;
      gap: 30px;
      > p {
        color: #667085;
        font-size: 16px;
        font-weight: 500;
        cursor: pointer;
      }
    }
  }

  &__nav_buttons{
    display: flex;
    align-items: center;
    gap: 25px;
    >div{
        font-size: 16px;
        font-family: Inter;
        color: #667085;
        cursor: pointer;
    }
  }
}
